<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胖虎轻音乐</title>
 <style type="text/css">
 body{
	 font-family:"微软雅黑";
     width: 700px;
	 margin:0 auto;
	 text-align:center;
	 background-image:url(1111.jpg)}
#login{
	height:60px;
	color:#F00;
	letter-spacing:0.8em;
}
#main{
	width:700px;
	margin:0 auto;
	}
 </style>   
</head>
<body>
<div id="login">
      <h1>欢迎来到胖虎轻音乐</h1>
    </div>
    <div id="main">
      <form action="" method="post">
        <p>账号 <input style="text" name="netacc"></p>
        <p>密码 <input style="password" name="passwd"></p>
        <p><input type="submit" value="登陆"> <input type="submit" value="注册"></p>
      </form>
    </div>
</body>
</html>