<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胖虎轻音乐</title>
</head>
<body>
    <h1 style="color: red" >欢迎来到胖虎轻音乐</h1>
    <form action="" method="post">
        <p>昵称 <input style="text" name="netname"></p>
        <p>邮箱 <input style="text" name="netacc"></p>
        <p>输入密码 <input style="password" name="passwdone"></p>
        <p>再次输入密码 <input style="password" name="passwdtwo"></p>
        <p>男/女 <input style="text" name="sex"></p>
        <p>联系电话 <input style="text" name="phone"></p>
        <p><input type="submit" value="登陆"></p>
    </form>
</body>
</html>